*{
margin:0;
padding:0;
}

#main {
	display:block;
	margin: 0 auto;
	text-align: left;
}

#menupanel {
	height: 40px;
	background: #a0dea0;
	margin: 0;
}

#menupanel table{
	text-align: left;
	margin: 0 auto;
	width: 1198px;
	font: 12px Helvetica, Arial, sans-serif;
}

#tableheader {
	float:left;
	background: #9cb1f0;
}

.table {
	border-collapse:collapse;	
}

.table td{
	border: 1px solid;
	text-align: center;
	font: 10px Helvetica, Arial, sans-serif;
	padding: 1px 0;
	word-wrap: break-word;
}

.table input{
	font: 10px Helvetica, Arial, sans-serif;
}

.table select{
	/* width:70px; */
	font: 10px Helvetica, Arial, sans-serif;
}

#tablecontent {
	background: #ebebeb;
	float:left;
	overflow-y: scroll;
}

#footer {
	height: 20px;
	background: #a0dea0;
	font: 10px Helvetica, Arial, sans-serif;
}



#btnblock {
	display:inline-block;
	*display:inline;
	background: #000035;
	width:100px;
	height:200px;
	vertical-align: top;
}


.modal_bg{
	position:absolute;
	display:none;
	z-index:1000;
	left:0;
	top:0;
	background-color:#DCDCDC;
}

.modal_window{
	position:absolute;
	display:none;
	z-index:1100;
	background:#ffffff;
	text-align: center;
	word-wrap: break-word;
	padding: 15px 15px 5px;
	margin: -15px -15px -5px;
	border: 5px solid #99caff;
}